@import "../../../../@theme/styles/themes";

@include nb-install-component() {
  nb-card {
    max-width: 1250px;
    max-height: 700px;
  }

  nb-card-header {
    height: 80px;
    padding-top: 5px;
  }

  .boton {
    align-self: center;
    padding-top: 26px;
  }
}

:host /deep/ ng2-smart-table .ng2-smart-actions ng2-st-tbody-edit-delete {
  display: contents !important;
}


:host /deep/ ng2-smart-table table > tbody > tr > td {
  height: nb-theme(tree-grid-row-min-height);
  padding: nb-theme(tree-grid-cell-padding);
  border-width: 0.5px;
  border-color: #0095ff36;
}

:host /deep/ ng2-smart-table thead > tr > th  { 
  height: nb-theme(tree-grid-row-min-height);
  padding: nb-theme(tree-grid-cell-padding);
  border-width: 0.5px;
  border-color: #0095ff36;
}  

:host /deep/ ng2-smart-table table tr.ng2-smart-titles th {
  text-align: center;
  background-color: #252547;
  color: rgb(255, 255, 255);
  padding-right: 20px !important;
}

:host /deep/ ng2-smart-table table > tbody > tr > td {
  height: nb-theme(tree-grid-row-min-height);
  padding: nb-theme(tree-grid-cell-padding);
  border-width: 0.5px;
  border-color: #0095ff36;
  text-align: center;
}

:host /deep/ ng2-smart-table-title > a {
  color: rgb(255, 255, 255) !important;
  font-weight: bolder !important;
}

:host /deep/ input[type="checkbox"] {
  height: 15px;
}

:host {
  ::ng-deep .id_orden .ng2-smart-title {
      width: 110px;
  }
}

:host {
  ::ng-deep .localizacion .ng2-smart-title {
      width: 220px;
  }
}
