@import "../../../../@theme/styles/themes";

@include nb-install-component() {
  nb-card {
    max-width: 1600px;
    max-height: 700px;
  }
}

:host /deep/ ng2-smart-table .ng2-smart-actions ng2-st-tbody-edit-delete {
  display: contents !important;
}


:host /deep/ ng2-smart-table table > tbody > tr > td {
  height: nb-theme(tree-grid-row-min-height);
  padding: nb-theme(tree-grid-cell-padding);
  border-width: 0.5px;
  border-color: #0095ff36;
}

:host /deep/ ng2-smart-table thead > tr > th  { 
  height: nb-theme(tree-grid-row-min-height);
  padding: nb-theme(tree-grid-cell-padding);
  border-width: 0.5px;
  border-color: #0095ff36;
}  

:host /deep/ ng2-smart-table table tr.ng2-smart-titles th {
  text-align: center;
  background-color: #252547;
  color: rgb(255, 255, 255);
}

:host /deep/ ng2-smart-table table > tbody > tr > td {
  height: nb-theme(tree-grid-row-min-height);
  padding: nb-theme(tree-grid-cell-padding);
  border-width: 0.5px;
  border-color: #0095ff36;
}

:host /deep/ ng2-smart-table-title > a {
  color: rgb(255, 255, 255) !important;
  font-weight: bolder !important;
}