@import "../../../../@theme/styles/themes";

@include nb-install-component() {
    nb-card {
        transform: translate3d(0, 0, 0);
        display: flex; //agranda al tamaño del contenido.
        max-height: fit-content;
    }

    nb-card-body {
        padding-top: 25px;
        min-height: 450px;
        max-height: 450px;
    }

    ::ng-deep .example-smart-table {
        .form-control {
            color: nb-theme(form-control-color);
        }
    }

    .pad {
        padding-left: 13px;
    }

}

:host /deep/ ng2-smart-table table tr.ng2-smart-titles th {
    padding-right: 0rem !important;
    padding-left: 0rem !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    text-align: center;
    background-color: #252547;
}

:host /deep/ ng2-smart-table table tr td {
    text-align: center;
    font-size: 13px;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

:host /deep/ ng2-smart-table a.ng2-smart-action {
    block-size: 25px;
}

:host /deep/ ng2-smart-table nav.ng2-smart-pagination-nav .pagination {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    padding-left: 2px !important;
    padding-right: 2px !important;
    inline-size: 330px;
}

:host /deep/ .id .ng2-smart-filter {
    font-size: smaller;
    width: 45px !important;
}

:host /deep/ .descripcion .ng2-smart-filter {
    font-size: smaller;
    width: 125px !important;
}

