
<div class="row">
  <nb-card accent="success">
    <nb-card-body>

      <form autocomplete="off" *ngIf="formulario" [formGroup]="formulario" (ngSubmit)="actualizarDatos()">
        <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="nombre_cliente" class="label">Nombre cliente:</label>

                <input  formControlName="nombre_cliente"
                        type="text" 
                        nbInput 
                        fullWidth 
                        id="nombre_cliente" 
                        status="info"
                        shape="semi-round"
                        fieldSize="small">
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label for="rut_cliente" class="label">Rut cliente:</label>

                <input  formControlName="rut_cliente"
                        type="text" 
                        nbInput 
                        fullWidth 
                        id="rut_cliente" 
                        status="info"
                        shape="semi-round"
                        fieldSize="small">
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="telefono1" class="label">Teléfono 1:</label>

                <input  formControlName="telefono1"
                        type="text" 
                        nbInput 
                        fullWidth 
                        id="telefono1" 
                        status="info"
                        shape="semi-round"
                        fieldSize="small">

              </div>
            </div>
            
            <div class="col-sm-6">
              <div class="form-group">
                <label for="telefono2" class="label">Teléfono 2:</label>

                <input  formControlName="telefono2"
                        type="text" 
                        nbInput 
                        fullWidth 
                        id="telefono2" 
                        status="info"
                        shape="semi-round"
                        fieldSize="small">
              </div>  
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="correo_cliente" class="label">Correo:</label>

                <input  formControlName="correo_cliente"
                        type="text" 
                        nbInput 
                        fullWidth 
                        id="correo_cliente" 
                        status="info"
                        shape="semi-round"
                        fieldSize="small">
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label for="creado_por" class="label">Creado por:</label>

                <input  formControlName="creado_por"
                        type="text" 
                        nbInput 
                        fullWidth 
                        id="creado_por" 
                        status="info"
                        shape="semi-round"
                        fieldSize="small">
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="actualizado_por" class="label">Actualizado por:</label>

                <input  formControlName="actualizado_por"
                        type="text" 
                        nbInput 
                        fullWidth
                        status="info"
                        shape="semi-round"
                        fieldSize="small">
              </div>
            </div>
        </div>
        <hr>
        <div *ngFor="let residencia of residencia_clientes; let i = index" 
                class="form-group row">
            <div class="col-sm-6" formArrayName="direccion_cliente">
              <div class="form-group">
                <label for="direccion_cliente" class="label">Dirección {{i+1}}:</label>

                <input [formControlName]="i"
                        type="text" 
                        nbInput 
                        fullWidth
                        status="info"
                        shape="semi-round"
                        fieldSize="small">
              </div>
            </div>
            
            <div class="col-sm-6" formArrayName="comuna_cliente">
              <div class="form-group">
                <label for="comuna_cliente" class="label">Comuna {{i+1}}:</label>

                <input [formControlName]="i"
                        type="text" 
                        nbInput 
                        fullWidth
                        status="info"
                        shape="semi-round"
                        fieldSize="small">
              </div>
            </div>

            <div class="col-sm-6" formArrayName="mac_cliente">
              <div class="form-group">
                <label for="mac_cliente" class="label">Mac {{i+1}}:</label>

                <input [formControlName]="i"
                        type="text" 
                        nbInput 
                        fullWidth
                        status="info"
                        shape="semi-round"
                        fieldSize="small">
              </div>
              <hr>
            </div>
            
            <div class="col-sm-6" formArrayName="pppoe_cliente">
              <div class="form-group">
                <label for="pppoe_cliente" class="label">Pppoe {{i+1}}:</label>

                <input [formControlName]="i"
                        type="text" 
                        nbInput 
                        fullWidth
                        status="info"
                        shape="semi-round"
                        fieldSize="small">

              </div>
              <hr>
            </div>
        </div>
        <div class="row restar">
            <div class="col-sm-4">
              <div class="form-group">

                <button type="button" 
                        nbButton 
                        fullWidth 
                        status="success" 
                        shape="semi-round" 
                        fieldSize="tiny" 
                        size="medium" 
                        (click)="agregarOrden()" 
                        outline>
                Agregar orden
                </button>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="form-group">

                <button type="button" 
                        nbButton 
                        fullWidth 
                        status="info" 
                        shape="semi-round" 
                        fieldSize="tiny" 
                        size="medium" 
                        (click)="listaOrdenes()" 
                        outline>
                Ordenes del cliente
                </button>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="form-group">

                <button type="submit" 
                        nbButton 
                        fullWidth 
                        status="success" 
                        shape="semi-round" 
                        fieldSize="tiny" 
                        size="medium" 
                        outline>
                Actualizar datos
                </button>
              </div>
            </div>
        </div>
      </form>

    </nb-card-body>
  </nb-card>
</div>