

  <nb-card accent="success">
  <nb-card-header>
      <h5>Agregar direccion</h5>
  </nb-card-header>
    <nb-card-body>

      <form autocomplete="off" [formGroup]="formulario" (ngSubmit)="guardar()">
        <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="rut_cliente" class="label">Rut cliente:</label>

                <input  formControlName="rut_cliente"
                        type="text" 
                        nbInput 
                        fullWidth
                        status="info"
                        shape="semi-round"
                        fieldSize="small">
              </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="direccion_cliente" class="label">Dirección:</label>

                <input formControlName="direccion_cliente"
                        type="text" 
                        nbInput 
                        fullWidth
                        status="info"
                        shape="semi-round"
                        fieldSize="small">
              </div>
            </div>
            
            <div class="col-sm-6">
              <div class="form-group">
                <label for="comuna_cliente" class="label">Comuna:</label>

                <input formControlName="comuna_cliente"
                        type="text" 
                        nbInput 
                        fullWidth
                        status="info"
                        shape="semi-round"
                        fieldSize="small">
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label for="mac_cliente" class="label">Mac:</label>

                <input formControlName="mac_cliente"
                        type="text" 
                        nbInput 
                        fullWidth
                        status="info"
                        shape="semi-round"
                        fieldSize="small">
              </div>
              <hr>
            </div>
            
            <div class="col-sm-6">
              <div class="form-group">
                <label for="pppoe_cliente" class="label">Pppoe:</label>

                <input formControlName="pppoe_cliente"
                        type="text" 
                        nbInput 
                        fullWidth
                        status="info"
                        shape="semi-round"
                        fieldSize="small">

              </div>
              <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
              <div class="form-group">

                <button type="button"
                        class="boton"
                        nbButton 
                        fullWidth 
                        status="success" 
                        shape="semi-round" 
                        fieldSize="tiny" 
                        size="medium" 
                        (click)="guardar()" 
                        outline>
                Agregar direccion
                </button>
              </div>
            </div>
        </div>
      </form>

    </nb-card-body>
  </nb-card>
