
<div class="row">
    <div class="col-md-4">
        <ngx-tipo-orden></ngx-tipo-orden>
    </div>
    
    <div class="col-md-8">
        <ngx-tecnicos></ngx-tecnicos>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <ngx-estado-cliente></ngx-estado-cliente>
    </div>
    
    <div class="col-md-4">
        <ngx-estado-ticket></ngx-estado-ticket>
    </div>
    
    <div class="col-md-4">
        <ngx-medio-pago></ngx-medio-pago>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <ngx-prioridad></ngx-prioridad>
    </div>
</div>

