
    
<div>
  <nb-card class="ajustandoBuscador2">
    <nb-card-body class="ajustandoBuscador2">
    <input nbInput size="100" [nbFilterInput]="dataSource" id="search" class="search-input" placeholder="Buscar">
  </nb-card-body>
  </nb-card>
    <nb-card>
      <nb-card-body> 
    <table [nbTreeGrid]="dataSource" [nbSort]="dataSource" (sort)="updateSort($event)" class="tablares">

      <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
      <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns"></tr>

      <ng-container [nbTreeGridColumnDef]="customColumn">
        <th class="tablitatr" nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(customColumn)" *nbTreeGridHeaderCellDef>
          {{customColumn}}
        </th>
        <td class="tablitatr" nbTreeGridCell *nbTreeGridCellDef="let row">
          {{row.data[customColumn]}}
          <ng-template #contentTemplate let-data>
            <p>"{{ data.text }}"</p>
          </ng-template>
          <button nbButton class="tamañoTextoB" [nbContextMenu]="items" nbContextMenuTrigger="hover" size="small" nbContextMenuPlacement="right" nbContextMenuAdjustment="counterclockwise" nbContextMenuTag="context-menu" ghost>+</button>
        </td>
      </ng-container>

      <ng-container *ngFor="let column of defaultColumns; let index = index"
                    [nbTreeGridColumnDef]="column"
                    [showOn]="getShowOn(index)">
        <th class="tablitatr" nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(column)" *nbTreeGridHeaderCellDef>
          {{column}}
        </th>

        <td class="tablitatr" nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data[column] || '-'}}
          <ng-template #contentTemplate let-data>
            <p>"{{ data.text }}"</p>
          </ng-template>
          <button nbButton class="tamañoTextoB" [nbContextMenu]="items" nbContextMenuTrigger="hover" size="small"  nbContextMenuPlacement="right" nbContextMenuAdjustment="counterclockwise" nbContextMenuTag="context-menu" ghost>+</button>
        </td>
      </ng-container>

    </table>
  </nb-card-body>
</nb-card>
  </div>