@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';
@import '../../../@theme/styles/themes';

@include nb-install-component() {
  button[nbTreeGridRowToggle] {
    background: transparent;
    border: none;
    padding: 0;
  }
  .calendar-container {
    margin: 1rem -9rem;
  }
  .search-input {
    margin: 1rem;
  }

  .nb-column-name {
    width: 150%;
  }

  @media screen and (min-width: 400px) {
    .nb-column-name,
    .nb-column-size {
      width: 50%;
    }
  }

  @media screen and (min-width: 500px) {
    .nb-column-name,
    .nb-column-size,
    .nb-column-kind {
      width: 33.333%;
    }
  }

  @media screen and (min-width: 600px) {
    .nb-column-name {
      width: 31%;
    }
    .nb-column-size,
    .nb-column-kind,
    .nb-column-items {
      width: 23%;
    }
  }
  .tamañoTextoB{
    font-size: 20px;
    font-weight: bold;
  }
  .ajustandoBuscador2{
    margin: 0px;
  }
  .tablitatr{
    padding: 5px;
    text-align: center;
  }

  .tablares{
    overflow:scroll;
  }
  
}