
<div class="row">
  <nb-card accent="success">
    <nb-card-header>
      <h5 class="h5s">Agregar nueva orden</h5>
    </nb-card-header>
    <nb-card-body>
      <form autocomplete="off" [formGroup]="formulario" (ngSubmit)="agregarOrden()">
        
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label for="rut_cliente" class="label">Rut cliente:</label>
              <input  formControlName="rut_cliente"
                      type="text"
                      id="rut_cliente"
                      (blur)="sincronizarResidencia()"
                      nbInput 
                      fullWidth
                      [ngClass]="{'borde': rutNoValido}"
                      status="info" 
                      shape="semi-round" 
                      fieldSize="small" 
                      required>

              <small *ngIf="rutNoValido" class="form-text text-danger">Ingrese un rut válido</small>
            </div>
          </div>

            <div class="col-sm-4">
            <div class="form-group">
              <label for="direccion_cliente" class="label">Dirección:</label>
              <nb-select  formControlName="direccion_cliente"
                          name="direccion_cliente"
                          type="text"
                          fullWidth 
                          [ngClass]="{'borde': direccionNoValido}"
                          shape="semi-round" 
                          size="small"
                          status="info"
                          placeholder="Seleccione una direccion">
                <nb-option  *ngFor="let direccion of residencia_cliente"
                            type="text"
                            [value]="direccion.id">
                            {{direccion.direccion | caracteres | mayus}}
                </nb-option>
              </nb-select>

              <small *ngIf="direccionNoValido" class="form-text text-danger">Seleccione una dirección</small>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label for="creado_por" class="label">Creado por:</label>
              <input  type="text" 
                      formControlName="creado_por" 
                      nbInput 
                      fullWidth 
                      id="creado_por" 
                      status="info" 
                      shape="semi-round" 
                      fieldSize="small">
            </div>
          </div>
        </div>

        <div class="row">

          <div class="col-sm-4">
            <div class="form-group">
              <label for="tipo_orden" class="label">Tipo orden:</label>
              <nb-select  type="text"
                          fullWidth
                          [ngClass]="{'borde': tipoOrdenNoValido}"
                          size="small"  
                          shape="semi-round" 
                          status="info" 
                          name="tipo_orden" 
                          formControlName="tipo_orden"
                          placeholder="Seleccione el tipo de orden">
                  <nb-option *ngFor="let orden of tipoOrdenes" 
                              type="text"
                             [value]="orden.id" >
                              {{orden.descripcion}}
                  </nb-option>
              </nb-select>

              <small *ngIf="tipoOrdenNoValido" class="form-text text-danger">Seleccione un tipo de orden</small>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label for="fecha_ejecucion" class="label">Fecha de ejecución:</label>
              <input  type="text"
                      fullWidth 
                      status="info"
                      formControlName="fecha_ejecucion" 
                      shape="semi-round" 
                      fieldSize="small"
                      nbInput
                     [nbDatepicker]="formpicker">
              <nb-datepicker #formpicker></nb-datepicker>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label for="encargado" class="label">Encargado: </label>
              <nb-select  formControlName="encargado"
                          name="encargado" 
                          type="text"
                          [ngClass]="{'borde': encargadoNoValido}"
                          fullWidth 
                          shape="semi-round" 
                          status="info"
                          size="small"
                          placeholder="Seleccione un técnico">
                <nb-option  *ngFor="let tecnico of listaTecnicos"
                            type="text"
                            [value]="tecnico.rut">
                            {{tecnico.nombre}}
                </nb-option>
              </nb-select>

              <small *ngIf="encargadoNoValido" class="form-text text-danger">Seleccione un encargado</small>
            </div>
          </div>
          
        </div>

        <div class="row">  
          <div class="col-sm-4">
            <div class="form-group">
              <label for="estado_cliente" class="label">Estado cliente: </label>
              <nb-select  formControlName="estado_cliente"
                          name="estado_cliente" 
                          type="text"
                          fullWidth
                          [ngClass]="{'borde': estadoClienteNoValido}"
                          shape="semi-round" 
                          status="info"
                          size="small"
                          placeholder="Seleccione un estado">
                <nb-option  *ngFor="let estado of estadoCliente"
                            type="text"
                            [value]="estado.id">
                            {{estado.descripcion}}
                </nb-option>
              </nb-select>

              <small *ngIf="estadoClienteNoValido" class="form-text text-danger">Seleccione un estado</small>
            </div>
          </div>
          
          <div class="col-sm-4">
            <div class="form-group">
              <label for="estado_ticket" class="label">Estado ticket: </label>
              <nb-select  formControlName="estado_ticket"
                          name="estado_ticket" 
                          type="text"
                          fullWidth
                          [ngClass]="{'borde': estadoTicketNoValido}"
                          shape="semi-round" 
                          status="info"
                          size="small"
                          placeholder="Seleccione un estado">
                <nb-option  *ngFor="let estado of estadoTicket"
                            type="text"
                            [value]="estado.id">
                            {{estado.descripcion}}
                </nb-option>
              </nb-select>

              <small *ngIf="estadoTicketNoValido" class="form-text text-danger">Seleccione un estado</small>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label for="prioridad" class="label">Prioridad: </label>
              <nb-select  formControlName="prioridad"
                          name="prioridad" 
                          type="text"
                          [ngClass]="{'borde': prioridadNoValido}"
                          fullWidth 
                          shape="semi-round" 
                          status="info"
                          size="small"
                          placeholder="Seleccione una prioridad">
                <nb-option  *ngFor="let prioridad of prioridad"
                            type="text"
                            [value]="prioridad.id">
                            {{prioridad.descripcion}}
                </nb-option>
              </nb-select>

              <small *ngIf="prioridadNoValido" class="form-text text-danger">Seleccione prioridad</small>
            </div>
          </div>

        </div>

        <div class="row">  

          <div class="col-sm-4">
            <div class="form-group">
              <label for="disponibilidad" class="label">Disponibilidad:</label>
              <input  type="text" 
                      nbInput 
                      fullWidth
                      [ngClass]="{'borde': disponibilidadNoValido}"
                      id="disponibilidad" 
                      status="info"
                      formControlName="disponibilidad" 
                      shape="semi-round" 
                      fieldSize="small">

              <small *ngIf="disponibilidadNoValido" class="form-text text-danger">Ingrese disponibilidad</small>
            </div>
          </div>
          
          <div class="col-sm-4">
            <div class="form-group">
              <label for="medioPago" class="label">Medio de pago: </label>
              <nb-select  formControlName="medioPago"
                          name="medioPago" 
                          type="text"
                          fullWidth
                          [ngClass]="{'borde': medioPagoNoValido}"
                          shape="semi-round" 
                          status="info"
                          size="small"
                          placeholder="Seleccione un medio de pago">
                <nb-option  *ngFor="let medio of medioPago"
                            type="text"
                            [value]="medio.id">
                            {{medio.descripcion}}
                </nb-option>
              </nb-select>

              <small *ngIf="medioPagoNoValido" class="form-text text-danger">Seleccione un medio de pago</small>
            </div>
          </div>
          
          <div class="col-sm-4">
            <div class="form-group">
              <label for="monto" class="label">Monto:</label>
              <input  type="text"
                      nbInput 
                      fullWidth
                      [ngClass]="{'borde': montoNoValido}"
                      id="monto" 
                      status="info"
                      formControlName="monto" 
                      shape="semi-round"  
                      fieldSize="small">

              <small *ngIf="montoNoValido" class="form-text text-danger">Ingrese un monto</small>
            </div>
          </div>
        </div>

        <div class="row">  
          <div class="col-sm-12">
            <div class="form-group">
              <label for="comentario" class="label">Comentario:</label>
              <textarea rows="4" 
                        nbInput 
                        fullWidth
                        [ngClass]="{'borde': comentarioNoValido}"
                        id="comentario" 
                        status="info"
                        formControlName="comentario"
                        shape="semi-round" 
                        type="text" 
                        fieldSize="small">
              </textarea>

              <small *ngIf="comentarioNoValido" class="form-text text-danger">Ingrese un comentario</small>
            </div>
          </div>
        </div>

        <div class="row">  
          <div class="col-sm-4 offset-8">
            <div class="form-group">
              <button type="submit" 
                      nbButton 
                      fullWidth 
                      status="success" 
                      shape="semi-round" 
                      fieldSize="tiny" 
                      size="small" 
                      outline>
                Guardar cambios
              </button>
            </div>
          </div>
        </div>
        
      </form>
    </nb-card-body>
  </nb-card>
</div>