@import "~bootstrap/scss/mixins/breakpoints";
@import "~@nebular/theme/styles/global/breakpoints";
@import "../../../@theme/styles/themes";

@include nb-install-component() {

  .display {
    display: flex;
    align-items: flex-end;
  }

  .boton {
    padding: 0 !important;
    margin-left: 0.5rem;
  }

  .head {
    padding: 3px 20px;
  }

  .body {
    padding: 2px 20px 0 0;
  }

  .group {
    margin: 0px 0 10px;
  }

  .card {
    margin: 0;
  }

  // nb-card {
  //   display: flex !important;
  //   margin-left: 1rem;
  //   margin-top: -4px;
  //   margin-bottom: 6px;
  //   height: 262px;
  // }

  // .input-largo {
  //   width: 12rem;
  // }

  // .medida-card {
  //   height: 8rem;
  // }

  // .lista {
  //   height: 249px;
  // }

  // nb-card-body {
  //   height: 0rem; //width: ancho, height: alto
  // }

  // .pos {
  //   margin-top: -13px;
  // }

  // .columna {
  //   height: 0rem;
  // }

  // .cabeza {
  //   // width: 2rem;
  //   height: 2.5rem;
  // }

  // .largo {
  //   margin-top: -8px;
  //   height: 0rem;
  // }

  // .ancho {
  //   width: 20rem;
  // }

  // .center {
  //   text-align: center;
  // }

  // .input-calendario {
  //   margin-right: 2rem;
  // }

  // .input-arriba {
  //   margin-top: 28px;
  // }

  // .boton {
  //   margin-left: 12rem;
  //   margin-top: -57px;
  // }
}



:host /deep/ ng2-smart-table table tr.ng2-smart-titles th {
  padding-right: 8px !important;
  padding-left: 8px !important;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  text-align: center;
  background-color: #252547;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: bolder;
}

:host /deep/ ng2-smart-table table tr td {
  font-size: 13px;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

:host /deep/ .fecha .ng2-smart-title {
  width: 90px;
}

:host /deep/ ng2-smart-table .ng2-smart-actions ng2-st-tbody-edit-delete {
  display: contents !important;
}

:host /deep/ ng2-smart-table table > tbody > tr > td {
  height: nb-theme(tree-grid-row-min-height);
  padding: nb-theme(tree-grid-cell-padding);
  border-width: 0.5px;
  border-color: #0095ff36;
}

:host /deep/ ng2-smart-table thead > tr > th {
  height: nb-theme(tree-grid-row-min-height);
  padding: nb-theme(tree-grid-cell-padding);
  border-width: 0.5px;
  border-color: #0095ff36;
}

:host /deep/ ng2-smart-table-title > a { 
  color: rgb(255, 255, 255) !important;
  font-weight: bolder !important;
}
