@import "~bootstrap/scss/mixins/breakpoints";
@import "~@nebular/theme/styles/global/breakpoints";
@import "../../../@theme/styles/themes";

@include nb-install-component() {
  nb-card {
    margin-left  : 1rem;
    margin-top   : -4px;
    margin-bottom: 6px;
    width        : 48rem;
    height       : 262px;
  }

  .input-largo {
    width: 12rem;
  }

  .medida-card {
    height: 7rem;
  }

  .medida-body {
    height: 6rem;
  }

  .columna {
    height: 4rem;
  }

  .ancho {
    height: 2.5rem;
  }

  .center {
    text-align: center;
  }

  .input-calendario {
    margin-right: 2rem;
  }

  .input-arriba {
    margin-top: 28px;
  }

  .boton {
    margin-left: 12rem;
    margin-top : -57px;
  }
}

:host /deep/ ng2-smart-table .ng2-smart-actions a.ng2-smart-action {
  margin-bottom: -65px !important;
}