


<form [formGroup]="formulario" (ngSubmit)="buscarOrden()" autocomplete="off">

  <nb-card class="card" accent="success">

    <nb-card-header class="head">
      <div class="row">
        <div class="col-md-6">
          <h5 class="h5s pos">
            Buscar ordenes:
          </h5>
        </div>
      </div>
    </nb-card-header>

    <nb-card-body class="body"> 
      <div class="row">

        <div class="col-md-3 offset-1">
          <div class="form-group group">
            <label for="buscar" class="label">Buscar por: </label>
              <nb-select  formControlName="buscar"
                          type="text" 
                          nbSelect 
                          fullWidth 
                          size="small"  
                          shape="semi-round" 
                          status="info"
                          placeholder="Seleccione:">
                <nb-option  *ngFor="let opcion of opciones"
                             type="text"
                            [value]="opcion">
                            {{opcion}}
                </nb-option>
              </nb-select>
          </div>
        </div>


        <div *ngIf="ver" class="col-md-3 display">
          <div class="form-group group">
            <input  type="text"
                    formControlName="calendar" 
                    fieldSize="small"
                    nbInput
                    size="small"
                    shape="semi-round" 
                    status="info"
                    placeholder="Rango de fechas" 
                    [nbDatepicker]="rangepicker">
            <nb-rangepicker size="large" #rangepicker></nb-rangepicker>
          </div>
        </div>

        <div class="col-md-4 display">
            <div class="form-group group">
              <input  formControlName="buscador"
                      nbInput
                      size="small"
                      fieldSize="small" 
                      shape="semi-round" 
                      status="info"
                      placeholder="Buscar:" 
                      type="text">

              <button class="boton" type="submit" nbButton ghost>
                <nb-icon icon="file-text-outline"></nb-icon>
              </button>
            </div>
        </div>
      </div>
    </nb-card-body>

  </nb-card>
</form>

<nb-card class="lista" *ngIf="aparece">
  <nb-card-body >
    <ng2-smart-table 
      class="center"
      [settings]="settings"
      [source]="source"
      (custom)="ordenCompleta($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>