@import "~bootstrap/scss/mixins/breakpoints";
@import "~@nebular/theme/styles/global/breakpoints";
@import "../../../@theme/styles/themes";

@include nb-install-component() {
  nb-card {
    max-width: 770px;
    max-height: 299px;
  }

  button[nbTreeGridRowToggle] {
    background: transparent;
    border: none;
    padding: 0;
  }
  .calendar-container {
    margin: 1rem -9rem;
  }
  .search-input {
    margin: 1px;
    width: 500px;
  }

  .inputLarge {
    width: 500px;
  }

  .nb-column-name {
    width: 150%;
  }

  .center {
    text-align: center;
  }

  @media screen and (min-width: 400px) {
    .nb-column-name,
    .nb-column-size {
      width: 50%;
    }
  }

  @media screen and (min-width: 500px) {
    .nb-column-name,
    .nb-column-size,
    .nb-column-kind {
      width: 33.333%;
    }
  }

  @media screen and (min-width: 600px) {
    .nb-column-name {
      width: 31%;
    }
    .nb-column-size,
    .nb-column-kind,
    .nb-column-items {
      width: 23%;
    }
  }
  .ajustandoBuscador {
    margin-top: -4px;
    margin-bottom: -40px;
    width: max-content;
  }

  .ajusteInput {
    margin-bottom: 1px;
  }

  .ajusteCard {
    margin-top: 0px;
    margin-left: 0px;
  }

  .tablitatr {
    padding: 5px;
    text-align: center;
  }

  .largo {
    width: 830px;
  }
}

:host /deep/ ng2-smart-table .ng2-smart-actions a.ng2-smart-action {
  margin-bottom: -45px !important;
}
