


<form [formGroup]="formulario" (ngSubmit)="buscarOrden()" autocomplete="off">

  <nb-card class="card" accent="success">

    <nb-card-header class="head">
      <div class="row">
        <div class="col-md-6">
          <h5 class="h5s pos">
            Buscar ordenes:
          </h5>
        </div>
      </div>
    </nb-card-header>

    <nb-card-body class="body"> 
      <div class="row">

        <div class="col-md-3">
          <div class="form-group group buscar">
            <label for="buscar" class="label">Buscar por: </label>
              <nb-select  formControlName="buscar"
                          type="text" 
                          nbSelect 
                          fullWidth 
                          size="small"  
                          shape="semi-round" 
                          status="info"
                          placeholder="Seleccione:">
                <nb-option  *ngFor="let opcion of opciones"
                             type="text"
                            [value]="opcion">
                            {{opcion}}
                </nb-option>
              </nb-select>
          </div>
        </div>


        <div *ngIf="ver" class="col-md-2 display calendar">
          <div class="form-group group">

            <input nbInput
                   formControlName="date_init"
                   class="date"
                   fieldSize="small"
                   size="small"
                   shape="semi-round"
                   status="info" 
                   placeholder="Fecha inicio" 
                   [nbDatepicker]="date_init">
            <nb-datepicker size="large" #date_init></nb-datepicker>

          </div>
        </div>

        <div *ngIf="ver" class="col-md-2 display calendar">
          <div class="form-group group">

            <input nbInput
                   class="date"
                   formControlName="date_end"
                   fieldSize="small"
                   size="small"
                   shape="semi-round"
                   status="info" 
                   placeholder="Fecha término" 
                   [nbDatepicker]="date_end">
            <nb-datepicker size="large" #date_end></nb-datepicker>

          </div>
        </div>

        <div class="col-md-4 display">
            <div class="form-group group">
              <input  formControlName="buscador"
                      nbInput
                      size="small"
                      fieldSize="small" 
                      shape="semi-round" 
                      status="info"
                      placeholder="Buscar:" 
                      type="text">

              <button class="boton" type="submit" nbButton ghost>
                <nb-icon icon="file-text-outline"></nb-icon>
              </button>
            </div>
        </div>
      </div>
    </nb-card-body>

  </nb-card>
</form>

<nb-card class="card-lista" *ngIf="aparece">
  <nb-card-body >
    <ng2-smart-table 
      class="center"
      [settings]="settings"
      [source]="source"
      (custom)="ordenCompleta($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>