
<div *ngIf="mostrar" class="row card-group">
  <div class="col-md-4">
    <ngx-calendar></ngx-calendar>
  </div>
  <div class="col-md-8">
    <nb-tree-grid-showcase></nb-tree-grid-showcase>
  </div>
</div>

<div *ngIf="mostrar" class="row">
  <div class="col-12 col-md-12 col-sm-12 col-lg-12 col-xl-12">
   <nb-tree-grid-showcase-week></nb-tree-grid-showcase-week>
  </div>
</div>

<div *ngIf="buscador" class="row">
  <div class="col-12 col-md-12 col-sm-12 col-lg-12 col-xl-12">
   <ngx-mis-ordenes></ngx-mis-ordenes>
  </div>
</div>
