@import "~bootstrap/scss/mixins/breakpoints";
@import "~@nebular/theme/styles/global/breakpoints";
@import "../../../../@theme/styles/themes";

@include nb-install-component() {
  nb-card {
    margin-top   : 1px;
    margin-bottom: 10px;
    max-width    : 1000px;
  }

  nb-card-body {
    margin-top   : 0px;
    margin-bottom: 0px;
    height       : 600px;
  }

  ng2-smart-table {
    margin-bottom: 0px;
  }

  button[nbTreeGridRowToggle] {
    background: transparent;
    border    : none;
    padding   : 0;
  }

  .nb-column-name {
    width: 150%;
  }

  @media screen and (min-width: 400px) {
    .nb-column-name,
    .nb-column-size {
      width: 50%;
    }
  }

  @media screen and (min-width: 500px) {
    .nb-column-name,
    .nb-column-size,
    .nb-column-kind {
      width: 33.333%;
    }
  }

  @media screen and (min-width: 600px) {
    .nb-column-name {
      width: 31%;
    }
    .nb-column-size,
    .nb-column-kind,
    .nb-column-items {
      width: 23%;
    }
  }

  .center {
    text-align: center;
  }
}

:host /deep/ ng2-smart-table .ng2-smart-actions a.ng2-smart-action {
  margin-bottom: -45px !important;
}