
<nb-card accent="success">
   <nb-card-header>
    <div class="row">
      <h5 class="pad">Prioridad</h5>
      <button class="offset-1 control-item" ghost nbButton (click)="mostrar=true">
        <nb-icon icon="arrow-downward-outline"></nb-icon>
      </button>
      <button class="control-item" ghost nbButton (click)="mostrar=false">
        <nb-icon icon="arrow-upward-outline"></nb-icon>
      </button>
    </div>
  </nb-card-header>
  <nb-card-body *ngIf="mostrar">

    <ng2-smart-table class="example-smart-table"
                     [settings]="settings"
                     [source]="source"
                     (createConfirm)="onCreateConfirm($event)"
                     (editConfirm)="onSaveConfirm($event)">
    </ng2-smart-table>

  </nb-card-body>
</nb-card>
