@import "../../../../@theme/styles/themes";

@include nb-install-component() {

    nb-card {
        margin-top: 1rem;
        max-width: 800px;
        max-height: 620px;
    }

    .borde {
        border-color: red;
        background-color: rgba(255, 0, 0, 0.062);
    }

}
