@import "../../../../@theme/styles/themes";

@include nb-install-component() {
    nb-card {
        transform: translate3d(0, 0, 0);
        display: flex; //agranda al tamaño del contenido.
        // height: 100%;
    }

    ::ng-deep .example-smart-table {
        .form-control {
            color: nb-theme(form-control-color);
        }
    }

}

:host /deep/ ng2-smart-table table tr.ng2-smart-titles th {
    padding-right: 0rem !important;
    padding-left: 0rem !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    text-align: -webkit-center !important;
    background-color: #252547;
}

:host /deep/ ng2-smart-table table tr td {
    font-size: smaller;
    text-align: -webkit-center !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

:host /deep/ ng2-smart-table a.ng2-smart-action {
    font-size: smaller;
    block-size: 25px;
}

:host /deep/ ng2-smart-table nav.ng2-smart-pagination-nav .pagination {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    padding-left: 2px !important;
    padding-right: 2px !important;
    inline-size: 330px;
}



:host /deep/ table-cell-edit-mode {
    font-size: small;
}

:host /deep/ .id .ng2-smart-filter {
    font-size: smaller;
    width: 65px !important;
}

:host /deep/ .rut .ng2-smart-filter {
    font-size: smaller;
    width: 85px !important;
}

:host /deep/ .nombre .ng2-smart-filter {
    font-size: smaller;
    width: 117px !important;
}

:host /deep/ .comuna .ng2-smart-filter {
    font-size: smaller;
    width: 75px !important;
}

:host /deep/ .estado .ng2-smart-filter {
    font-size: smaller;
    width: 87px !important;
}

:host /deep/ .capacidad .ng2-smart-filter {
    font-size: smaller;
    width: 62px !important;
}

:host /deep/ .activo .ng2-smart-filter {
    font-size: smaller;
    width: 65px !important;
}