@import "../../../../@theme/styles/themes";

@include nb-install-component() {
  
  button[nbButton] {
    padding: 0rem;
    margin-left: 0.5rem;
  }

  .boton{
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    margin-left: 0rem;
  }

  .fecha{
    padding-left: 13px;
  }

  .seguimiento{
    padding-left: 2.5rem;
  }

  .low{
    padding-top: 1rem !important;
    padding-bottom: 0rem !important;
  }

  .actions-card {
    height: 8rem;
  }

  nb-card-body {
    padding-top: 0;

    > * {
      margin-top: 1rem;
    }
  }

  nb-card {
    margin-top: 1rem;
    max-width : 900px;
    max-height: 630px;
  }

  nb-card-header {
    height: 70px;
    padding: 5px;
  }

  .botn {
    margin-top: -6px;
  }

  .h5s {
    color: #9797b3 !important;
      font-family: Open Sans, sans-serif !important;
  }
}

.full-name-inputs,
.validation-checkboxes {
  display: flex;
  margin : 0 -0.5rem;

  > * {
    margin: 0 0.5rem;
  }
}

.checkbox-radio {
  display: flex;
}

.demo-items {
  flex: 1 0 33%;
}

.titulo {
  font-size: 15px;
}

.blanco {
  color: aliceblue;
}

.restar {
  margin-left: -25px;
}

