

<div class="row">
  <nb-card accent="success">
    <nb-card-header>
      <div class="row">
        <div class="col-sm-4">
          <p></p>
          <div class="form-group">
            <label class="h5s">Orden N°: {{id_orden}}</label>
          </div>
        </div>
        <div class="col-sm-7">
          <p></p>
          <div class="form-group">
            <label class="h5s">Fecha de ejecución: {{fecha_transform}}</label>
          </div>
        </div>
      </div>
    </nb-card-header>

    <nb-card-body>
      <form autocomplete="off" [formGroup]="formulario" (ngSubmit)="actualizarOrden()">
        
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label for="nombre_cliente" class="label">Nombre cliente:</label>
              <input  type="text"
                      formControlName="nombre_cliente"
                      nbInput 
                      fullWidth 
                      id="nombre_cliente" 
                      status="info"
                      shape="semi-round" 
                      fieldSize="small">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label for="rut_cliente" class="label">Rut cliente:</label>
              <input  type="text" 
                      formControlName="rut_cliente"
                      nbInput 
                      fullWidth 
                      id="rut_cliente" 
                      status="info"
                      shape="semi-round" 
                      fieldSize="small">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label for="direccion_cliente" class="label">Dirección:</label>
              <nb-select  formControlName="direccion_cliente"
                          name="direccion_cliente" 
                          type="text"
                          fullWidth
                          shape="semi-round" 
                          status="info"
                          size="small">
                <nb-option *ngFor="let direccion of residencia_cliente"
                            type="text"
                           [value]="direccion.id">
                            {{direccion.direccion | caracteres | mayus}}
                </nb-option>
              </nb-select>
            </div>
          </div>
        </div>

        <div class="row">  
          <div class="col-sm-4">
            <div class="form-group">
              <label for="comuna_cliente" class="label">Comuna:</label>
              <nb-select  formControlName="comuna_cliente"
                          name="comuna_cliente" 
                          type="text"
                          fullWidth
                          shape="semi-round" 
                          status="info"
                          size="small">
                <nb-option *ngFor="let comuna of residencia_cliente"
                            type="text"
                           [value]="comuna.id">
                           {{comuna.comuna | caracteres | mayus}}
                </nb-option>
              </nb-select>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label for="telefono1" class="label">Teléfono 1:</label>
              <input  type="text"
                      formControlName="telefono1"
                      nbInput 
                      fullWidth 
                      id="telefono1" 
                      status="info"
                      shape="semi-round" 
                      fieldSize="small">
            </div>
          </div>
          
          <div class="col-sm-4">
            <div class="form-group">
              <label for="telefono2" class="label">Teléfono 2:</label>
              <input  type="text" 
                      formControlName="telefono2"
                      nbInput 
                      fullWidth 
                      id="telefono2" 
                      status="info"
                      shape="semi-round" 
                      fieldSize="small">
            </div>
          </div>
        </div>

        <div class="row">  
          <div class="col-sm-4">
            <div class="form-group">
              <label for="correo_cliente" class="label">Correo:</label>
              <input  type="text" 
                      formControlName="correo_cliente"
                      nbInput 
                      fullWidth 
                      id="correo_cliente" 
                      status="info"
                      shape="semi-round" 
                      fieldSize="small">
            </div>
          </div>
          
          <div class="col-sm-4">
            <div class="form-group">
              <label for="encargado" class="label">Encargado:</label>
              <nb-select  formControlName="encargado"
                          name="encargado" 
                          type="text"
                          fullWidth 
                          shape="semi-round" 
                          status="info"
                          size="small">
                <nb-option *ngFor="let tecnico of tecnicos"
                            type="text"
                           [value]="tecnico.rut">
                           {{tecnico.nombre}}
                </nb-option>
              </nb-select>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label for="creado_por" class="label">Creado por:</label>
              <input  type="text"
                      formControlName="creado_por"
                      nbInput 
                      fullWidth 
                      id="creado_por" 
                      status="info"
                      shape="semi-round" 
                      fieldSize="small">
            </div>
          </div>
        </div>

        <div class="row">  
          <div class="col-sm-4">
            <div class="form-group">
              <label for="fecha_creacion" class="label">Fecha creación:</label>
              <input  type="text"
                      formControlName="fecha_creacion"
                      nbInput 
                      fullWidth 
                      id="fecha_creacion" 
                      status="info"
                      shape="semi-round" 
                      fieldSize="small">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label for="fecha_ejecucion" class="label">Fecha de ejecución:</label>
              <input  type="text"
                      fullWidth 
                      status="info"
                      formControlName="fecha_ejecucion" 
                      shape="semi-round" 
                      fieldSize="small"
                      nbInput
                     [nbDatepicker]="formpicker">
              <nb-datepicker #formpicker></nb-datepicker>
            </div>
          </div>
          
          <div class="col-sm-4">
            <div class="form-group">
              <label for="disponibilidad" class="label">Disponibilidad:</label>
              <input  type="text"
                      formControlName="disponibilidad"
                      nbInput 
                      fullWidth 
                      id="disponibilidad" 
                      status="info"
                      shape="semi-round" 
                      fieldSize="small">
            </div>
          </div>
        </div>

        <div class="row">  
          <div class="col-sm-4">
            <div class="form-group">
              <label for="estadoCliente" class="label">Estado cliente:</label>
              <nb-select  formControlName="estadoCliente"
                          name="estadoCliente" 
                          type="text"
                          fullWidth 
                          shape="semi-round" 
                          status="info"
                          size="small"
                          [(selected)]="id_estadoCliente">
                <nb-option *ngFor="let estado of estadoCliente"
                            type="text"
                           [value]="estado.id">
                           {{estado.descripcion}}
                </nb-option>
              </nb-select>
            </div>
          </div>
          
          <div class="col-sm-4">
            <div class="form-group">
              <label for="estadoTicket" class="label">Estado ticket:</label>
              <nb-select  formControlName="estadoTicket"
                          name="estadoTicket" 
                          type="text"
                          fullWidth 
                          shape="semi-round" 
                          status="info"
                          size="small"
                          [(selected)]="id_estadoTicket">
                <nb-option *ngFor="let estado of estadoTicket"
                            type="text"
                           [value]="estado.id">
                           {{estado.descripcion}}
                </nb-option>
              </nb-select>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label for="medioPago" class="label">Medio de pago:</label>
              <nb-select  formControlName="medioPago"
                          name="medioPago" 
                          type="text"
                          fullWidth 
                          shape="semi-round" 
                          status="info"
                          size="small"
                          [(selected)]="id_medioPago">
                <nb-option *ngFor="let medio of medioPago"
                            type="text"
                           [value]="medio.id">
                           {{medio.descripcion}}
                </nb-option>
              </nb-select>
            </div>
          </div>
        </div>

        <div class="row">  
          <div class="col-sm-4">
            <div class="form-group">
              <label for="monto" class="label">Monto:</label>
              <input  type="text" 
                      formControlName="monto"
                      nbInput 
                      fullWidth 
                      id="monto" 
                      status="info"
                      shape="semi-round" 
                      fieldSize="small">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label for="tipo_orden" class="label">Tipo orden:</label>
              <nb-select  formControlName="tipo_orden"
                          name="tipo_orden" 
                          type="text"
                          fullWidth
                          shape="semi-round" 
                          status="info"
                          size="small"
                          [(selected)]="id_orden">
                <nb-option  *ngFor="let orden of tipoOrdenes"
                            type="text"
                            [value]="orden.id">
                            {{orden.descripcion}}
                </nb-option>
              </nb-select>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label for="prioridad" class="label">Prioridad:</label>
              <nb-select  formControlName="prioridad"
                          name="prioridad" 
                          type="text"
                          fullWidth
                          shape="semi-round" 
                          status="info"
                          size="small"
                          [(selected)]="id_prioridad">
                <nb-option  *ngFor="let prioridad of prioridad"
                            type="text"
                            [value]="prioridad.id">
                            {{prioridad.descripcion}}
                </nb-option>
              </nb-select>
            </div>
          </div>
        </div>

        <div class="row">  
          <div class="col-sm-12">
            <div class="form-group">
              <label for="comentario" class="label">Comentario:</label>
              <textarea rows="4"
                        formControlName="comentario"
                        nbInput 
                        fullWidth 
                        id="comentario" 
                        status="info"
                        shape="semi-round"
                        fieldSize="small">
              </textarea>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <button nbButton
                      (click)="verCliente()"
                      type="button"
                      fullWidth 
                      status="success" 
                      shape="semi-round" 
                      fieldSize="tiny" 
                      size="small" 
                      outline>
              Ver cliente
              </button>
            </div>
          </div> 
          <div class="col-sm-4 offset-4">
            <div class="form-group">
              <button nbButton
                      type="submit"
                      fullWidth 
                      status="success" 
                      shape="semi-round" 
                      fieldSize="tiny" 
                      size="small" 
                      outline>
              Guardar cambios
              </button>
            </div>
          </div>
        </div>
      </form>
    </nb-card-body>
  </nb-card>
</div>